html {
    background-color: #FDA923;
}

#AuthFormBody {
    display: none;
}

.form-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 0;
    background: #1C89A1;
    /* background: white; */
    /* box-shadow: 0 15px 25px #003044; */
    border-radius: 10px;
}

.form-head {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    border-radius: 10px 10px 0 0;
    background-color: #003044;
    color: #F0E9E8;
}

.form-head div {
    border: none;
    padding: 20px 0;
    width: 50%;
    height: auto;
    text-align: center;
}

.form-head div:first-child {
    border-radius: 0 10px 0 0;
    background-color: #1C89A1;
    color: #FEC061;
    /* background: white;
    color: #003044; */
}

.form-head div:last-child {
    border-radius: 0 0 0 10px;
}

.form-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #F0E9E8;
    text-align: center;
}

.form-box .form-line-box {
    position: relative;
    width: 100%;
}

.form-box .form-line-box input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    /* border-bottom: 1px solid #fff; */
    /* border: 1px solid #003044; */
    border-radius: 5px;
    outline: none;
    background: white;
}

.form-box .form-line-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.form-box .form-line-box .btn-group-dropdown,
.form-box .form-line-box .btn {
    border: 1px solid #F0E9E8;
    color: #F0E9E8;
    border-radius: 5px;
    transition: ease-in-out .3s;
}

.form-box .form-line-box .btn-group-dropdown:hover,
.form-box .form-line-box .btn:hover {
    color: #003044;
    background-color: #F0E9E8;
}

.form-box .form-line-box .btn-group-dropdown ul {
    overflow-y: scroll;
    max-height: 120px;
    width: 100%;
}

.form-box .form-line-box .btn-group-dropdown ul li {
    padding: 2vmin;
}

.form-box .form-line-box .img-btn {
    background: center/cover no-repeat;
    background-color: white;
    border-radius: 5px;
    padding: 2%;
    width: 30%;
    height: 12vmin;
    border-radius: 8px;
    position: relative;
    transition: ease-in-out .3s;
}

.form-box .form-line-box .img-btn img {
    width: 30px;
    top: calc(50% - 15px);
    right: calc(50% - 15px);
    position: absolute;
}

.form-box .form-line-box .agree {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-box .form-line-box .agree label {
    position: relative;
    font-size: 16px;
    color: #fff;
    margin: auto 1%;
}

.form-box .form-line-box .agree input {
    width: 30px;
    padding: 0;
    font-size: 16px;
    color: #fff;
    margin: auto 1%;
}

.form-box .form-line-box .agree input:focus~label,
.form-box .form-line-box .agree input:valid~label {
    top: 0;
    color: #FEC061;
    font-size: 16px;
    margin: auto 1%;
}

.form-box .form-line-box input:focus~label,
.form-box .form-line-box input:valid~label {
    top: -30px;
    left: 0;
    color: #FEC061;
    font-size: 12px;
}

@media(max-width:420px) {
    .form-box {
        top: 55%;
        width: 85%;
    }
}


/* @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css); */


/****** Style Star Rating Widget *****/

.rating {
    width: 100%;
    float: left;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating label {
    color: #ddd;
    float: right;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #FDA923;
}


/* hover previous stars in list */

.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
    color: #FDA923;
}