* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

a:any-link {
    color: black;
}

li {
    list-style: none;
}

a:any-link:hover {
    outline: none;
    text-decoration: none;
    color: #FDA923;
}


/* header */

.header {
    background-color: white;
    position: fixed;
    z-index: 3;
    /* position: fixed;
    z-index: 3;
    margin-bottom: 80px; */
    height: 80px;
    width: 100%;
    /* position: absolute; */
}

.header-space {
    width: 100%;
    height: 80px;
}

.header .logo img {
    height: 60px;
}

.header .menu img {
    height: 30px;
}

.header .menu .dropdown-menu img {
    height: 15px;
}

.header .dropdown {
    color: black;
}

.add .btn .btn-img {
    height: 18px;
}

.add .btn:hover .btn-img {
    content: url(../images/icons/plus-white.png);
}

.otherPages {
    width: 25%;
}

.otherPages a {
    margin: auto;
    height: 100%;
    color: black;
}

.otherPages a img {
    height: 20px;
    margin: 0 auto;
}

.adverts:hover img {
    content: url(../images/icons/search-orange.png);
}

.messages:hover img {
    content: url(../images/icons/messenger-orange.png);
}

.saved:hover img {
    content: url(../images/icons/heart-orange.png);
}

.signIn:hover img {
    content: url(../images/icons/user-orange.png);
}

#menuNavbarDropdown:hover img {
    content: url(../images/icons/list.png);
}

.lang input[type=radio] {
    display: none;
}

.lang {
    width: 100px;
    padding: 0 4px 0 0;
    position: relative;
}

.lp {
    position: absolute;
    top: -5px;
    transition: ease-in-out .3s;
}

.lp:hover,
.lang label input[type=radio]:checked+.lp {
    color: #FDA923;
}

.lp:hover::before,
.lang label input[type=radio]:checked+.lp::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    border-bottom: 2px solid #FDA923;
}


/* categories */

.category-nav {
    height: 0;
    width: 100%;
    position: fixed;
    flex-direction: column;
    z-index: 1;
    top: 80px;
    right: 0;
    overflow-y: scroll;
    background-color: white;
    transition: ease-in-out 0.3s;
    opacity: 0;
}

.dark-line {
    width: 100%;
    height: 2px;
    background-color: #004766;
    position: absolute;
    top: 0;
    right: 0;
}

.category-nav-body {
    height: 100%;
    position: relative;
    /* width: 90%; */
    margin: 0 auto;
}

.category-nav-body div {
    height: 100%;
}

.category-nav ul {
    height: 100%;
    overflow-y: scroll;
}

.category-nav li {
    width: 100%;
}

.category-nav a,
.category-nav li {
    color: #004766;
    transition: ease-in-out .2s;
}


/* box */

.box {
    flex: 0 1 24%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0.6%;
    padding: 0.2%;
    border-radius: 8px;
    width: 18vmax;
    height: 18vmax;
}

.box .box-img {
    background: center/cover no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    /* width: 16vmax;
    height: 16vmax; */
    border-radius: 8px;
}

.box .box-text-black {
    opacity: 0;
    position: absolute;
    border-radius: 8px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    transition: all 0.4s ease-in-out 0s;
}

.box:hover .box-text-black,
.box.active .box-text-black {
    opacity: 1;
}

.box .box-text {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prod-card {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 1% auto;
    opacity: 0.85;
    width: 70%;
    height: 20vmin;
    transition: ease-in-out .3s;
    background-color: white;
    border-radius: 8px;
}

.prod-card:hover {
    opacity: 1;
}

.prod-card-img {
    border-radius: 8px 0 0 8px;
    background: center/cover no-repeat;
    width: 30%;
    height: 100%;
}

.prod-card-text,
.prod-card-text:hover {
    padding: 2% 5%;
    width: 70%;
    height: 100%;
    color: black;
}

.prod-card .row {
    padding: 2%;
}

.prod-card .removeBtn {
    z-index: 2;
    position: absolute;
    background-color: #004766;
    color: #FDA923;
    bottom: 0;
    right: 1%;
    width: 30px;
    height: 25px;
    border-radius: 5px 5px 0 0;
    transition: ease-in-out .2s;
}

.prod-card .removeBtn:hover {
    height: 35px;
}

.prod-card .removeBtn i {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    left: 10px;
}

@media(max-width:770px) {
    .prod-card {
        width: 80%;
        height: 22vmin;
    }
    .prod-card .row {
        padding: 3%;
    }
    .search {
        width: 70%;
        margin: 8% auto 0;
    }
    .lang {
        width: 10%;
    }
}

@media(max-width:420px) {
    .prod-card {
        margin: 1% auto;
        width: 90%;
        height: 30vmin;
    }
    .prod-card-text {
        padding: 2% 2% 0;
        width: 70%;
        font-size: 12px;
    }
    .prod-card-text .row {
        padding: 0 6%;
    }
    .search {
        width: 80%;
        margin: 8% auto 0;
    }
    .category-nav {
        top: 80px;
        right: 0;
        flex-direction: column;
    }
    .category-nav-body {
        position: relative;
        /* width: 90%; */
        margin: 0 auto;
    }
    .category-nav-body {
        position: relative;
        width: 100%;
        /* width: 90%; */
        margin: 0 auto;
    }
}